<div class="masonry-css">
	{{#each decisions}}
	<div class="masonry-css-item">
		<div class="callout">
			<!-- user photo and decision text -->
			<div class="grid-x align-justify">
				<div class="small-12 cell">
					<p id="decision-timestamp">
						<span>{{moment this.created_at "fromNow"}}</span>
					</p>
				</div>
				<div class="small-3 cell">
					<img class="img-responsive decision-user-thumb" src="{{this.User.profile_pic}}" />
				</div>
				<div class="small-8 decision-text cell">
					<p>
						<span class="user-first-name">{{this.User.user_name}}</span> asked:
						<span class="user-decision-text">{{this.description}}</span>
					</p>
				</div>
				<div class="small-12 cell">
					<p class="tag-text">
						{{#each this.Tags}} {{this.tag_name}} {{/each}}
					</p>
				</div>
			</div>
			<!-- choices photos -->
			<div class="grid-x align-justify decision-photos">
				<div class="small-6 cell decision-photo-left">
					{{#if this.Choices.[0].photo}}
					<div class="center-crop-image decision-choice">
						<img class="img-responsive" src="{{this.Choices.[0].photo}}" />
					</div> {{else}}
					<div class="decision-choice-text decision-choice">
						<p>{{this.Choices.[0].text}}</p>
					</div>
					{{/if}}
				</div>
				<div class="small-6 cell decision-photo-right">
					{{#if this.Choices.[1].photo}}
					<div class="center-crop-image decision-choice">
						<img class="img-responsive" src="{{this.Choices.[1].photo}}" />
					</div>
					{{else}}
					<div class="decision-choice-text decision-choice">
						<p>{{this.Choices.[1].text}}</p>
					</div>
					{{/if}}
				</div>
			</div>
			<!-- choice buttons -->
			<div class="grid-x">
				<div class="small-4 cell vote" data-choice-id="{{this.Choices.[0].id}}" data-decision-id="{{this.id}}">
					<img class="dis-vote float-center choice-image" src="assets/img/dis_shaded.png" />
				</div>
				<div class="small-4 cell vote" data-choice-id="{{this.id}}" data-decision-id="{{this.id}}" data-neither="true">
					<img class="neither-vote float-center choice-image" src="assets/img/poomoji_shaded.png" />
				</div>
				<div class="small-4 cell vote" data-choice-id="{{this.Choices.[1].id}}" data-decision-id="{{this.id}}">
					<img class="dat-vote float-center choice-image" src="assets/img/dat_shaded.png" />
				</div>
			</div>
			<!-- choice text -->
			<div class="grid-x">
				<div class="small-4 cell">
					<p class="choice-text">DIS</p>
				</div>
				<div class="small-4 cell">
					<p class="choice-text">NEITHER</p>
				</div>
				<div class="small-4 cell">
					<p class="choice-text">DAT</p>
				</div>
			</div>
			<!-- choice count -->
			<div class="grid-x">
				<div class="small-4">
					<p class="choice-count">{{this.Choices.[0].Votes.length}}</p>
				</div>
				<div class="small-4">
					<p class="choice-count">{{this.Votes.length}}</p>
				</div>
				<div class="small-4">
					<p class="choice-count">{{this.Choices.[1].Votes.length}}</p>
				</div>
			</div>
			<!-- make comment section -->
			<div class="grid-x post-comment">
				<div class="small-2 cell">
					<img class="img-responsive post-comment-user-thumb" src="{{../user.profile_pic}}" />
				</div>
				<div class="small-10 cell">
					<form action="" class="comment-form grid-x" data-decision-id="{{this.id}}">
						<div class="small-9 cell">
							<input class="comment-box-input post-comment-input" type="text" name="comment" placeholder="Write a comment..." />
						</div>
						<div class="small-2 cell">
							<button type="submit" class="button">Post</button>
						</div>
					</form>
				</div>
			</div>
			<!-- comments -->
			<div class="decision-comments">
				{{#each this.Comments}}
				<div class="grid-x grid-margin-x comment" id="user-comments">
					<div class="small-3 cell">
						<img class="img-responsive comment-user-thumb" src="{{this.User.profile_pic}}" />
					</div>
					<div class="small-9 cell">
						<p class="comment-text">
							<span class="comment-user-name">{{this.User.user_name}}</span> commented:
							<br>
							<span class="comment-user-text">{{this.text}}</span>
						</p>
						<p class="comment-timestamp">
							<span>{{moment this.created_at "fromNow"}}</span>
						</p>
					</div>
				</div>
				{{/each}}
			</div>
		</div>
	</div>
	{{/each}}
</div>