<div class="grid-x grid-margin-x" id="profile-container">
    <div class="small-12 medium-4 cell card" id="user-info">
        <h1>PROFILE</h1>
        <div class="grid-x align-center">
            <div class="small-8 cell user-photo">
                <img class="img-responsive profile-pic" src="{{user.profile_pic}}">
            </div>
            <div class="small-12 cell" id="name">
                <h3 id="full-name">{{user.first_name}} {{user.last_name}}</h3>
                <h6 id="user-name">@{{user.user_name}}</h6>
            </div>
            <div class="small-12 cell">
                <div class="grid-x grid-padding-x align-center" id="profile-stats">
                    <div class="small-5 cell stats">
                        <h6 class="stat-title">DECISIONS</h6>
                        <h5>{{decisions.length}}</h5>
                    </div>
                    <div class="small-5 cell stats">
                        <h6 class="stat-title">VOTES</h6>
                        <h5>94</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="small-12 medium-8 cell">
        <div class="grid-x align-center">
            <div class="small-12">
                <h1>MY DECISIONS</h1>
            </div>
            {{#each decisions}}
            <div class="callout small-12 medium-8 cell masonry-css-item">
                <!-- user photo and decision text -->
                <div class="grid-x align-justify">
                    <div class="small-12 cell">
                        <p id="decision-timestamp">
                            <span>{{moment this.created_at "fromNow"}}</span>
                        </p>
                    </div>
                    <div class="small-3 cell">
                        <img class="img-responsive decision-user-thumb" src="{{this.User.profile_pic}}" />
                    </div>
                    <div class="small-8 decision-text cell">
                        <p>
                            <span class="user-first-name">{{this.User.user_name}}</span> asked:
                            <span class="user-decision-text">{{this.description}}</span>
                        </p>
                    </div>
                    <div class="small-12 cell">
                        <p class="tag-text">
                            {{#each this.Tags}} {{this.tag_name}} {{/each}}
                        </p>
                    </div>
                </div>
                <!-- choices photos -->
                <div class="grid-x align-justify decision-photos">
                    <div class="small-6 cell decision-photo-left">
                        {{#if this.Choices.[0].photo}}
                        <div class="center-crop-image decision-choice">
                            <img class="img-responsive" src="{{this.Choices.[0].photo}}" />
                        </div> {{else}}
                        <div class="decision-choice-text decision-choice">
                            <p>{{this.Choices.[0].text}}</p>
                        </div>
                        {{/if}}
                    </div>
                    <div class="small-6 cell decision-photo-right">
                        {{#if this.Choices.[1].photo}}
                        <div class="center-crop-image decision-choice">
                            <img class="img-responsive" src="{{this.Choices.[1].photo}}" />
                        </div>
                        {{else}}
                        <div class="decision-choice-text decision-choice">
                            <p>{{this.Choices.[1].text}}</p>
                        </div>
                        {{/if}}
                    </div>
                </div>
                <!-- choice text -->
                <div class="grid-x">
                    <div class="small-4 cell">
                        <p class="choice-text">DIS</p>
                    </div>
                    <div class="small-4 cell">
                        <p class="choice-text">NEITHER</p>
                    </div>
                    <div class="small-4 cell">
                        <p class="choice-text">DAT</p>
                    </div>
                </div>
                <!-- choice count -->
                <div class="grid-x">
                    <div class="small-4">
                        <p class="choice-count">{{this.Choices.[0].Votes.length}}</p>
                    </div>
                    <div class="small-4">
                        <p class="choice-count">{{this.Votes.length}}</p>
                    </div>
                    <div class="small-4">
                        <p class="choice-count">{{this.Choices.[1].Votes.length}}</p>
                    </div>
                </div>
                <!-- make comment section -->

                <!-- comments -->
                <div class="decision-comments">
                    {{#each this.Comments}}
                    <div class="grid-x grid-margin-x comment" id="user-comments">
                        <div class="small-2 cell">
                            <img class="img-responsive comment-user-thumb" src="{{this.User.profile_pic}}" />
                        </div>
                        <div class="small-9 cell">
                            <p class="comment-text">
                                <span class="comment-user-name">{{this.User.user_name}}</span> commented:
                                <br>
                                <span class="comment-user-text">{{this.text}}</span>
                            </p>
                            <p class="comment-timestamp">
                                <span>{{moment this.created_at "fromNow"}}</span>
                            </p>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
            {{/each}}
        </div>

    </div>
    <!-- close card -->
</div>